.email-template {
    width: 100%;
    margin: 0 auto;
    background-color: #cce6e5;
    padding: 50px;
}

.email-wrapper {
    width: 600px;
    margin: 0 auto;
}

.email-background {
    width: 600px;
    text-align: center;
    background-color: #ffffff;
    border-bottom: none;
}

.email-contents-wrapper {
    width: 540px;
    background-color: white;
    margin: 0 auto;
    font-family: Roboto;
}

.email-state-illust {
    padding-top: 55px;
    padding-bottom: 63px;
}

.email-text { 
    width: 377px;
    font-size: 13px;
    text-align: left;
    line-height: 1.69;
    color: #041c53;
}

.email-button {
    width: 180px;
    height: 36px;
    border-radius: 2px;
    background-color: #041c53;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 14px;
    display : block;
    margin: 0 auto;
    padding-top: 14px;
}

.email-homepage-link {
    font-size: 12px;
    color: #4e4e4e;
    padding-bottom: 25px;
}

.email-bottom-wrapper {
    height: 160px;
    background-color: #ffffff;
    border-top: 1px solid #c7d0d5;
    text-align: center;
}

.email-link-table {
    display:block;
    width: 100%
}

.email-td {
    text-align: center;
}

.email-line {
    border-top: 1px solid #aaaaaa;
}

.unsubscribe-link {
    font-size: 12px;
    text-align: center;
    color: #00b4ff;
    text-decoration: underline;
}

