
<div id="navContainer">
	<div class="navbar-brand TEMCO-LOGO" ng-click="$parent.navClicked($event,'home')">
	</div>

	<div class="language-change" style="color: #ffffff">
<!--
		<span ng-mouseover="checkLanguage('open')" ng-mouseleave="checkLanguage('close')" class="language-wrapper">
			<img ng-src="{{selectedLanguage.img}}" />
			<span>{{selectedLanguage.country}}</span>
		</span>
-->

		<div class="open-login-margin">
            <a href="login" style="color:#00d4eb">Login</a>
<!--
			<div class="login-logout-btn" ng-style="loginBtn">{{$parent.$ctrl.logintext}}</div>
			<div class="profile-panel" ng-style="logoutBtn">
				{{$parent.$ctrl.logintext}}</div>
-->
		</div>
	</div>


	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
	 aria-expanded="false" aria-label="Toggle navigation" ng-click="checkValue()">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav nav-left">
			<li class="nav-item" ng-repeat="item in $parent.navBars">
				<a class="nav-link" data={{item.title}} ng-click="$parent.$parent.navClicked($event,item.title); openComunity($index,item.title);">
					{{item.title}}
					<div ng-show="item.title === 'community'" class="arrow_down" />
				</a>
			</li>
			<span class="language-change-mobile">

			</span>
		</ul>
	</div>

</div>