.navbar, nav .dropdown-menu{
	text-transform:uppercase;
	font-size:14px;
}

.navbar{
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.71;
	letter-spacing: normal;
	text-align: left;
	background-color:transparent;
	width:100%;
	padding:0;
}

.mypage {
    padding-left: 13px;
    padding-top: 12px;
    font-size: 11px;
    color: white;
    line-height: normal;
}

.mypage img {
	position: relative;
    top: -1px;
}

.navbar-toggler {
	margin-right:20px;
	position:absolute;
	right:0px;
}

.nav-link{
	padding-top:0px;
	padding-bottom:0px;
}

.nav-link, .navbar-brand{
	cursor:pointer;
}

.navbar-brand{
	margin-left:70px;
	position:absolute;
	background: url('../img/symbol-temco.png');
	background-size:cover;
	z-index:5000;
	height: 28px;
	padding: 0px;
}

.nav-item:last-child{
	padding-right:60px;
}

.nav-item:last-child a{
	margin-right:0px;
	padding-right:0px !important;
}

.navbar-color, .navbar-color .navbar-collapse {
	background-color: #021146;
	opacity: 0.9;
}

/* .navbar-collapse {
	display: block;
	background-color: #021146;
	opacity: 0.9;
	width: 100%;
	position: fixed;
	top:0px;
} */

#navContainer {
	max-width:1650px;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	margin: 0 auto;
	vertical-align: middle;
	position: relative;
}
/* 
.fixed-top{
	right:inherit;
	left:inherit;
} */

.nav-link{
	color:#fff !important;
    --margin-right: 0.5rem;
	padding-left: 25px;
}

.navbar .active a{
	/* border-bottom:1.5px #72c2cc solid; */
}

.nav-item{
	/* margin-left:10px; */
	/* height: 33px; */
	font-size: 13px;
	letter-spacing: 0.9px;
	margin: 0 1px;
}

.language-change{
	display: flex;
	color: #fff;
	position: absolute;
	top: 21px;
	right: 70px;
	z-index: 10;
	cursor: pointer;
	font-size: 12px;
	font-weight: 500;
}

.community-nav-wrapper {
	height: 0;
	overflow: hidden;
	transition: height 0.5s;
	position: absolute;
}

.community-nav-img {
	width: 30px;
	position: relative;
	top: -2px;
}

.community-nav-item {
 height: 25px;
 line-height: 25px;
 margin-left: 10px;
}

.login-logout-btn {
	width: 66px;
    height: 25px;
    background-color: transparent;
    border: solid 1px #00fff8;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 1px;
    color: #00fff7;
    font-size: 12px;
}

.login-logout-btn:hover {
    background-color: #00fff7;
	color: #071d58;
}

@media (hover: none) {
	.login-logout-btn:hover {
		background-color: transparent;
		color: #00fff7;
	}
}

.login-logout-btn:active {
    background-color: #9afffc;
	color: #071d58;
}

.open-login-margin {
	height: 32px;
	margin-left: 10px;
	display: flex;
    align-items: center;
	justify-content: center;
	font-weight: 900;
}

.language-change-mobile {
	display: none;
}

.change-mobile-item {
	font-weight: 500;
	color: #CCCED4;
	font-size: 13px;
}

.TEMCO-LOGO {
	width: 32px;
    height: 34px;
    position: absolute;
	top: 22.5px;
	left: 1px;
}

.logout-modal {
	width: 87px;
	background-color: rgba(150, 220, 255, 0.1);
	color: black;
	position: absolute;
    right: 0;
	top: 30px;
	
}

.logout-text {
	width: 64px;
	height: 21px;
	opacity: 0.6;
	border-radius: 1px;
	border: solid 1px #ffffff;
	font-size: 10px;
	margin: 9px 12px;
	color: #ffffff;
	display: flex;
    align-items: center;
	justify-content: center;
}

/* .language-wrapper {
	background-color: transparent;
    border: none;
	color: #fff;
}

.language-wrapper option {
	background-color: transparent;
    border: none;
	color: #fff;
	background-image: url(../img/crowdsale/us-flag.png) no-repeat;
} */
.language-wrapper {
	width: 68px;
	display: inline-block;
	padding-left: 8px;
	line-height: 34px;
}
.language-option {
	width: 68px;
	height: 60px;
	left: 0px;
	top: 30px;
	padding-top: 1px;
	background-color: rgba(150, 220, 255, 0.1);
}

.language-option-item {
	height: 14px;
	padding-left: 8px;
	color: #fff;
	opacity: 0.5;
}

.language-option-item:hover {
	color: #fff;
	opacity: 1;
}

.language-wrapper img {
	position: relative;
	top: -1px;
}

.language-option-item img{
	position: relative;
	top: -1px;
}

.profile-panel {
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	width:80px;
	overflow:hidden;
	text-transform: lowercase;
	font-size: 13px;
}

.arrow_down {
	background-image: url(../img/triangle.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 8px;
	height: 4px;
	position: relative;
    top: -2px;
}

.nav-link:hover .arrow_down {
	background-image: url(img/triangle-copy.png);
}

@media (min-width: 1025px) {
	

	.nav-left {
		margin-left: 138px;
		margin-top: 1px;
	}

	.navbar-expand-custom {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
		flex-direction: row;
	}
	.navbar-expand-custom .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem;
	}
	.navbar-expand-custom .navbar-collapse {
		display: flex!important;
	}
	.navbar-expand-custom .navbar-toggler {
		display: none;
	}

	[data="community"] {
		display: none;
	}
}

@media (max-width: 1024px) {
	
	.nav-link{
		color:#CCCED4 !important;
	}

	.nav-link:hover, .nav-link:focus {
		color: #fff !important;
	}

	.language-wrapper {
		display: none;
	}

	.navbar-dark .navbar-toggler {
		top: 25px;
	}

	.language-change-web {
		display: none;
	}

	.language-change-mobile {
		display: block;
	}

	.community-nav-wrapper {
		position: relative;
	}

	.language-change{
		right: 75px;
		top: 30px;
	}

	.TEMCO-LOGO {
		width: 236px;
		height: 50px;
	}

	.navbar-brand{
		background: url('../img/temco@2x.png');
		background-size: 236px 50px;
		margin-left:35px;
	}
	.nav-item:last-child{
		padding-right:40px;
	}

	.navbar-collapse{
		padding-top:75px;
		padding-left:30px;
		padding-bottom:25px;
	}
	.collapse.show, .collapsing{
		background-color:#021146;
		/* margin-top:-25px; */
		opacity: 0.9;
	}

	#navContainer {
		width: 100%;
		height: 90px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0 auto;
		vertical-align: middle;
	}

	.navbar-collapse {
		/* display: block; */
		background-color: #021146;
		opacity: 0.9;
		width: 100%;
		position: fixed;
		top:0px;
	}
	
}
@media only screen and (max-width: 768px) {
	.language-change {
		top: 21px;
		right: 75px;
	}

	.navbar-dark .navbar-toggler {
		top: 16px;
	}
}

@media only screen and (max-width: 450px) {

	.language-change {
		top: 21px;
		right: 65px;
	}

	#navContainer {
		height: 75px;
		margin: 0 auto;
		vertical-align: middle;
	}

	.navbar-brand{
		margin-left: 35px;
	}

	.navbar-toggler {
		margin-right: 10px;
	}


}