.site-header {
	position: relative;
	display: block;
}

#parallax1{
	background-position-x:left;
	color:#fff;
	padding-top:60px;
	position: relative;
	height: 100vh;
	margin-bottom: 300px;
}

#parallax1 .content{
	/* margin-top: 15vh; */
}

/* .vertical-center-header {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
	margin: auto;
    padding: 0px 70px;
} */

.vertical-center-header-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    height: calc( 100vh - 389px );
    /* margin: auto; */
    /* padding: 0px 70px; */
}

.vertical-center-header {
    position: relative;
    top: 23px;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: inline-block; */
    width: 100%;
    height: 50%;
    margin: auto;
	padding: 0px 70px;
}

.header1-kip {
	padding-left: 70px;

}
/* .vertical-center-header {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
	margin: auto;
    padding: 0px 70px;
} */

.header-btn-wrapper {
	display: inline;
}

.question-btn {
	width: 17px;
	position: relative;
    bottom: -11px;
}

.vertical-center-partner {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* height: fit-content; */
	margin: auto;
	line-height: 1;
	margin-top: 37px;
}

.vertical-row {
	height: 100%;
}

.header-padding {
	padding: 0 70px;
}

.border-right-web {
	position: relative;
}

.border-right-web:after {
	content: '';
	height: 60px;
	width: 1px;
	position: absolute;
	right: 0;
	top: 20px;
	background-color: #06184d;
}


.header1{
	font-size: 60px;
	height: 68px;
	line-height: 56px;
	margin-top:-5px;
	margin-bottom:23px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.header2{
	font-size: 30px;
	height: 33px;
	margin-bottom:7px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.63;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.header3{
	/* font-size: 14px; */
	font-size: 12px;
	opacity: 0.6;
	height: 32px;
	text-transform:uppercase;
	font-weight: 500;
	line-height: 1.88;
	letter-spacing: 1.2px;
	text-align: left;
	color: #ffffff;
	width:541px;
	display:block;
}

.header3-kr{
	font-size: 14px;
	font-weight: 500;
	line-height: 1.88;
	letter-spacing: 1.2px;
	text-align: left;
	color: #ffffff;
	width:541px;
	display:block;
}


.header3m{
	display:none;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}



#headerCubeLeft{
	position:absolute;
	left: -155px;
	top: 75px;
}

#headerCube{
	max-width:646px;
	max-height:715px;

}

/* .change-text{
	color: #00fff7;
	width:15vw;
	display:inline-block;
	text-align:center;
	width: 220px;
} */

.header-text-change{
	color: #f5a623;
	display:inline-block;
	text-align:center;
}

.header-rsk-logo {
    width: 105px;
    position: relative;
    top: -19px;
	left: 7px;
	z-index: 200;
}

.whitelist-bg {
	position: relative;
	z-index: 200;
	max-width: 600px;
	height: 120px;
	border-radius: 1.8px;
	background-image: linear-gradient(173deg, #2e97f8, #4935e6);
	padding: 7px;
	margin-top: 30px;
}

.whitelist-wrapper {
	max-width: 100%;
	height: 100%;
	border-radius: 1.9px;
	background-image: linear-gradient(171deg, rgba(93, 255, 250, 0.3), rgba(37, 179, 234, 0));
	padding: 13px 17px 10px 37px;
}

.kyc-btn {
	width: 136.8px;
	height: 39.6px;
	border-radius: 19.8px;
	background-color: #deff7d;
	font-weight: 900;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 14.4px;
}

.kyc-btn:focus {
	outline: none;
}

.kyc-title {
	font-size: 19.8px;
	opacity: 0.95;
	margin-bottom: 11px;
}

.kyc-join-text {
    display: inline-block;
    float: right;
    position: absolute;
    bottom: 27px;
	right: 29px;
	font-size: 14.4px;
}

.question-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -1px;
    margin-right: 7px;
}

.question-icon img{ 
	width: 100%;
}

.subscribe-input-wrapper {
    position: relative;
    z-index: 400;
    margin-top: 18px;
    max-width: 390px;
	height: 48px;
	font-size: 12px;
}

.unsubscribe-input-wrapper {
    position: relative;
    z-index: 400;
    margin-top: 20px;
    max-width: 350px;
	height: 40px;
	font-size: 14.4px;
}

.subscribe-input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: transparent;
	/* border: 1px solid white; */
	border-bottom: 4px solid #1222c6; 
	border-right: none;
	background-color: white;
	/* background-image: url('../img/icon-mail.png'); */
	/* background-repeat: no-repeat; */
    background-position-y: center;
	background-position-x: 30px;
	color: #989da2;
	padding-left: 32px;
	/* background-size: 27px 17px; */
}

.unsubscribe-input {
	border-top-left-radius: 25.2px;
	border-bottom-left-radius: 25.2px;
	background-color: transparent;
	border: 1px solid white;
	border-right: none;
	background-image: url('../img/unsubscribe.png');
	background-repeat: no-repeat;
    background-position-y: center;
	background-position-x: 23px;
	color: white;
	padding-left: 60px;
	background-size: 23px 13px;
}

.unsubscribe-input:focus {
    color: white;
    background-color: transparent;
    border-color: white;
    outline: 0;
	box-shadow: none;
	padding-left: 60px;
}

.subscribe-input:focus {
    /* color: white;
    background-color: transparent;*/
	border-color: #1222c6;
    outline: 0;
	box-shadow: none;
	/* padding-left: 80px; */
}

.unsubscribe-btn-border {
    height: 25px;
    line-height: 25px;
    border-left: 1px solid white;
    font-weight: 900;
}

.subscribe-btn {
	width: 135px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: none;
	border-bottom: 4px solid #1222c6;
	/* border-left: none; */
	color: #fff;
	background-color: #375cd8;
	background-image: url(../img/header/mail.png);
	background-repeat: no-repeat;
	background-size: 16px 12px;
	background-position-x: 26px;
    background-position-y: 15px;
    padding-left: 30px;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 1.2px;
}

.subscribe-btn:focus {
	outline: none;
}

.unsubscribe-btn {
	width: 110px;
	border-top-right-radius: 25.2px;
	border-bottom-right-radius: 25.2px;
	border: 1px solid white;
	border-left: none;
	color: #00fff7;
	background-color: transparent;
	cursor: pointer;
	font-size: 12px;
	padding: 0;
}

.unsubscribe-btn:focus {
	outline: none;
}

.subscribe-btn-border {
	height: 25px;
	line-height: 25px;
	border-left: 1px solid white;
	font-weight: 900;
}

.subsciption_alert_wrapper {
    margin-left: 33px;
    margin-top: 15px;
}

.subsciption_warning {
	font-size: 16px;
	font-weight: 900;
	color: #ff6b47;
	display: inline;
}
.subsciption_alert_text {
	font-size: 16px;
	color: #ff6b47;
	display: inline;
	position: relative;
    top: 2px;
}

.header-partner-wrapper {
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.header-partner-main {
    height: 100px;
	background-color: white;
	/* opacity: 0.7; */
	background-color: rgba( 255, 255, 255, 0.7 );
	/* background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, rgba(175, 178, 189, 0.5), rgba(255, 255, 255, 0.5) 16%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.5) 84%, rgba(175, 178, 189, 0.5)); */
  	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
	left: 0;
	text-align: center;
	z-index: 200;
	margin-bottom: 4px;
	/* padding: 0 70px; */
}

.header-partner {
    height: 70px;
	background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.7 );
	/* background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, rgba(175, 178, 189, 0.5), rgba(255, 255, 255, 0.5) 16%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.5) 84%, rgba(175, 178, 189, 0.5)); */
  	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
	left: 0;
	text-align: center;
	z-index: 200;
	/* padding: 0 70px; */
}

.header-partner a:hover {
	text-decoration: none;
}

.header-press a:hover {
	text-decoration: none;
}

.header-partner-pic {
	height: 70px;
	/* margin: 0 5px; */
	cursor: pointer;
}

.header-press-pic {
	height: 30px;
	cursor: pointer;
	margin-top: 30px;
}

.header-ico-pic {
	height: 30px;
	cursor: pointer;
	margin-top: 30px;
}

.header-press {
	height: 83px;
	background-color: transparent;
    width: 100%;
    position: relative;
	left: 0;
	text-align: center;
	z-index: 200;
}

.telegram-btn {
	height: 40px;
	color: #22326f;
	font-size: 15px;
	font-weight: 900;
	background-color: white;
	border-radius: 22px;
	cursor: pointer;
	width: 180px;
	background-image: url('../img/icon-telegram@2x.png');
	background-repeat: no-repeat;
    background-position-y: center;
	background-position-x: 30px;
	background-size: 13.2px 11.8px;
	padding-left: 25px;
}

.kakao-btn-wrapper {
	text-align: center;
}

.kakao-talk-btn-wrapper {
	height: 40px;
	line-height: 40px;
	color: #22326f;
	font-size: 12px;
	font-weight: 500;
	background-color: white;
	border-radius: 22px;
	cursor: pointer;
	width: 180px;
	padding-left: 13px;
}

.kakao-talk-btn-a {
	padding: 0 2.5%;
	text-decoration: none;
}

.kakao-talk-btn-a-left {
	padding-left: 0;
}

.kakao-talk-btn-border { 
	border-right: 1px solid #07195d;
}

.kakaobtn-img {
	width: 30px;
	position: relative;
    top: -2px;
}

.kyc-btn-new {
	background-image: none;
    background-color: #f5a623;
    padding-left: 0;
    /* padding-right: 15px; */
    width: 180px;
    text-align: center;
}

.kyc-text {
	display: inline;
	margin-left: 10px;
}

.kyc-status {
	width: 68px;
	font-size: 13px;
	color: #9b5b00;
	/* border-left: 1px solid #9b5b00; */
	padding-left: 3px;
	padding-right: 13px;
	/* margin-left: 8px; */
	display: none;
	float: right;
}

.kyc-status-box {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: white;
	float: right;
	margin-top: 5px;
	display: none;
}



.telegram-btn:focus {
	outline: none;
}

.telegram-btn {
	border: none;
}

/* .temco-logo-header {
	height: 70%;
	position: relative;
	top: -6px;
} */

.header1-kip-img {
	float: left;
}

.header1-kip-img img {
	max-width: 100%;
    max-height: 100%;
}

.border-right-mobile {
	line-height: 100px;
}

.temco-logo-header img {
	width: 650px;
}

.temco-logo-header {
	text-align: center;
}

.main-header {
	text-align: center;
	font-size: 52px;
	font-weight: bold;
	margin-top: 26px;
}

.main-header-m {
	display: none;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
}

/* .header-section-2 {
	margin-top: 57px;
	max-height: 106px;
} */

.header-section-2 {
    margin-bottom: 50px;
    max-width: 1650px;
    padding: 0 70px;
    margin: 0 auto 50px auto;
}

.header-rsk-wrapper {
	display: inline-block;
	position: relative;
	right: 56px;
	top: -17px;
}

.header-rsk-text {
	font-size: 24.3px;
	font-weight: 900;
	color: #ffffff;
}

.header-rsk-section {
	display: inline-block;
	margin-right: 30px;
}

.header-advisor-text {
	display: inline-block;
	text-align: left;
}

.header-advisor img {
	height: 106px;;
}

.header-rsk-image {
	float: right;
	position: relative;
	top: -15px;
	z-index: 200;
}

.header-rsk-image img{
	width: 142px;
	border-radius: 50%;
	background-color: rgba(0, 61, 255, 0.05);
	box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.5);
}

.header-advisor-line {
	width: 18px;
	border: solid 1px #00fff7;
	margin-bottom: 5px;
}

.header-advisor-name {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.2;
}

.header-advisor-position {
	font-size: 10px;
	font-weight: 500;
	line-height: 1.92;
}

/* .header-padding-bottom {
	padding-bottom: 300px;
} */

.partner-width {
	max-width: 1650px;
	margin: 0 auto;
	height: 100%;
	/* padding: 0 70px; */
}

.partner-div {
	display: inline-block;
	/* width: calc(100%/7); */
	text-align: center;
	float: left;
}

.press-div-left {
	margin-right: 15px;
	text-align: left;
	float: left;
}

.press-div-right {
	width: 195px;
	text-align: right;
	float: right;
}

.kip-main {
	font-size: 24px;
	font-weight: bold;
	color: #06184d;
	text-align: center;
}

.kip-sub {
	font-size: 24px;
	font-weight: bold;
	color: #06184d;
	text-align: left;
	max-width: 230px;
}

.rsk-text {
	font-size: 24px;
	font-weight: bold;
	color: #06184d;
	text-align: left;
}

.partner-rsk-header {
	display: none;
}

.press-text {
	font-size: 12px;
	color: white;
	float: left;
	line-height: 95px;
	opacity: 0.7;
	margin-right: 15px;
}

.header-max-width {
	max-width: 1650px;
    width: 100%;
    text-align: center;
	display: inline-block;
	padding: 0 70px;
}

.header-space-between {
	max-width: 1650px;
    width: 100%;
    text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 0 70px;
	margin: 0 auto;
}
/* 
	#headerCube{
		right:-110px;
	}

	.header2{
		font-size: 30px;
		height: 33px;
	}

	.header3{
		font-size: 12px;
		opacity: 0.6;
		height: 32px;
	}

	.header3-kr{
		font-size: 16px;
		height: 32px;
	}


} */


@media only screen and (max-width: 1650px) {

	.temco-logo-header img {
		width: 447px;
	}

	.main-header {
		text-align: center;
		font-size: 42px;
		font-weight: bold;
		margin-top: 26px;
	}
}


@media only screen and (max-width: 1400px) {

	.vertical-center-partner {
		margin-top: 28px;
	}
	
	

	.rsk-text {
		font-size: 24px;
		text-align: center;
	}

	.kip-main {
		-webkit-box-flex: none;
		-ms-flex: none;
		flex: none;
		max-width: none;
		text-align: left;
	}

	.kip-sub {
		-webkit-box-flex: none;
		-ms-flex: none;
		flex: none;
		max-width: none;
	}

	.kip-main .vertical-center-partner {
		margin-bottom: 0;
		padding-right: 30px;
	}

	.kip-sub .vertical-center-partner {
		margin-top: 5px;
		padding-right: 30px;
		font-size: 24px;
   		font-weight: 900;
	}
	
	.mobile-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		line-height: 100px;
	}

	.mobile-6 img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		vertical-align: middle;
	}
}




/* @media (max-width: 1400px) {

	.header1{
		font-size: 48px;
		height: 66px;
		margin-top: -30px;
		line-height: 48px;
	}

	.header2{
		font-size: 22px;
		height: 30px;
	}

	.header3{
		font-size: 10px;
		height: 32px;
		display:block;
	}

	
	.header3-kr{
		font-size: 16px;
		height: 32px;
	}

	#headerCube{
		right:-150px;
		
	}
}

@media (max-width: 1200px) {

	.header1{
		font-size: 40px;
		height: 55px;
		margin-top: -25px;
		line-height: 40px;
	}

	.header2{
		font-size: 18px;
		height: 25px;
		margin-bottom: 10px;
	}

	.header3{
		font-size: 8px;
		height: 26px;
		display:block;
	}

	
	.header3-kr{
		font-size: 14px;
		height: 32px;
	}

	#headerCube{
		right:-150px;

	}
} */

@media (max-width: 1024px) {

	.press-div-left {
		margin-right: 5px;
	}
	
	.header-btn-center {
		text-align: center;
	}


	.vertical-center-partner {
		margin-top: 20px;
	}

	.mobile-6-rsk img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		vertical-align: middle;
	}

	.rsk-text {
		text-align: left;
	}

	.header-max-width {
		padding: 0;
	}

	.header-space-between {
		padding: 0;
	}

	.header-padding {
		padding: 0;
	}

	/* .mobile-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33%;
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}

	.mobile-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.66%;
		flex: 0 0 66.66%;
		max-width: 66.66%;
	} */


	.mobile-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.mobile-6-rsk {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.mobile-separete {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.main-header-m {
		display: block;
	}

	.main-header {
		display: none;
	}

	#parallax1 {
		height: 100vh;
	}

	#parallax1 .content {
		margin-top: 30px;
	}

	.vertical-center-header {
		padding: 0 35px;
		height: 70%;
	}

	.header-partner {
		height: 54px;
		padding: 0 35px;
	}

	.header-partner-pic {
		height: 54px;
	}

	.header1-kip-img {
		float: none;
	}

	.header-press {
		height: 89px;
		padding: 0 35px;
	}

	.header-press-pic {
		height: 22px;
		margin-top: 0;
	}

	.header-ico-pic {
		height: 27px;
		margin-top: 0;
	}

	.press-text {
		font-size: 12px;
		width: 100%;
		text-align: left;
		margin-top: 19px;
		line-height: normal;
	}

	.header-rsk-image {
		top: 0;
	}

	.temco-logo-header {
		display: none;
	}

	.header-section-2 {
		margin-top: 50px;
		/* margin-bottom: 45px; */
	}

	.header-rsk-wrapper {
		right: 0;
		top: 0;
		margin-top: 60px;
	}

	#force-100{
		flex: 0 0 100%;
		max-width: 100%;
	}

	#parallax1{
		padding-bottom: 0px;
	}

	#headerCube{
		width: 550px;
		margin-top: 140px;
		float: right;
	}

	.header1{
		height :82px;
		margin-bottom: 15px;
		margin-top: 0px;
		font-size: 60px;
		line-height: 60px;
	}

	.header2{
		font-size: 30px;
		height :auto;
		margin-bottom: 19px;
	}

	.header3{
		display:none;
	}

	.header3m{
		height: 36px;
		opacity: 0.5;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-transform: uppercase;
		display: block;
	}

	.press-div-right {
		width: auto;
		margin-left: 3px;
	}

	.change-text{
		width: 28vw !important;
	}

	.header-rsk-text {
		margin-top: 30px;
	}

	.header-partner-main {
		height: auto;
		background-color: transparent;
		opacity: 1;
		background-image: none;
		box-shadow: none;	
		margin-bottom: 0;
		padding: 0;
	}

	.partner-mobile-wrapper {
		height: 80px;
		background-color: white;
		opacity: 0.7;
		background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, rgba(175, 178, 189, 0.5), rgba(255, 255, 255, 0.5) 16%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.5) 84%, rgba(175, 178, 189, 0.5));
		box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
		width: 100%;
		margin-bottom: 4px;
	}

	.border-right-mobile {
		position: relative;
	}

	.border-right-mobile:after {
		content: '';
		height: 60px;
		width: 1px;
		position: absolute;
		right: 0;
		top: 10px;
		background-color: #06184d;
	}

	.subscribe-input-wrapper {
		margin: 22px auto 0 auto;
		height: 62px;
		max-width: 507px;
		font-size: 18.2px;
	}

	.subscribe-btn {
		background-size: 21px 16px;
		background-position-x: 26px;
		background-position-y: 20px;
		padding-left: 34px;
	}

	.header-advisor {
		margin-top: 40px;
	}

	.header-btn-wrapper {
		text-align: center;
		margin: 0 auto;
	}

	.mobile-6 {
		line-height: 80px;
	}

	.mobile-6-rsk {
		line-height: 80px;
	}

	.kip-main .vertical-center-partner {
		padding-left: 35px;
	}

	.kip-sub .vertical-center-partner {
		padding-left: 35px;
	}

	.vertical-center-partner {
		padding: 0 35px;
	}

	.telegram-btn {
		width: 230px;
		height: 50px;
		font-size: 20px;
		background-size: 20px 18px;
		border-radius: 25px;
		padding-left: 40px;
		background-position-x: 35px;
	}

	.kakao-talk-btn-wrapper {
		width: 230px;
		height: 50px;
		font-size: 18px;
		line-height: 50px;
		letter-spacing: -0.4px;
	}

	.kakaobtn-img {
		width: 37px;
		position: relative;
		top: -2px;
	}

	.kyc-status {
		font-size: 14px;
		margin-top: 5px;
		padding-right: 23px;
		width: 72px;
	}

	.kyc-status-box {
		margin-top: 11px;
	}

	.kyc-btn-new {
		padding-left: 0px;
	}
}

@media (max-width: 767px) {

	.vertical-center-header {
		height: 50%;
	}

	/* .press-div-right {
		width: 26%;
	} */

	.header-rsk-text {
		font-size: 19.2px;
		margin-top: 0;
	}

	.header-rsk-logo {
		width: 85px;
		top: -13px;
	}

	.header-rsk-image img {
		width: 113px;
	}

	.header-press {
		height: 63px;
		padding: 0 30px;
	}

	.header-press-pic {
		height: 13px;
	}

	.header-ico-pic {
		height: 16px;
	}

	.header-partner-pic {
		height: 22px;
		margin-top: 6px;
	}

	.press-text {
		font-size: 10px;
		margin-top: 10px;
	}

	.telegram-btn {
		width: 180px;
		height: 40px;
		font-size: 16px;
		font-weight: 900;
		border-radius: 20px;
		background-image: url(../img/icon-telegram@2x.png);
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: 20px;
		background-size: 13.2px 11.8px;
		padding-left: 30px;
	}

	.kakao-talk-btn-wrapper {
		width: 180px;
		height: 40px;
		font-size: 14px;
		line-height: 40px;
		letter-spacing: -0.4px;
	}

	.kakaobtn-img {
		width: 30px;
		position: relative;
		top: -2px;
	}
	
	.header-section-2 {
		margin-top: 48px;
		margin-bottom: 45px;
	}

	.subscribe-input-wrapper {
		height: 48px;
		max-width: 390px;
		margin-top: 18px;
	}

	.subscribe-input {
		background-size: 22.2px 13.8px;
		background-position-x: 17px;
	}

	.subscribe-btn {
		max-width: 135px;
		font-size: 14px;
		background-size: 15px 11px;
		background-position-x: 22px;
		background-position-y: 16px;
		padding-left: 9px;
	}

	.main-header-m {
		font-size: 34px;
	}

	.subscribe-btn-border {
		height: 20px;
		line-height: 21px;
	}

	.TEMCO-LOGO {
		width: 134px;
		height: 28px;
	}

	.navbar-brand {
		background-size: 134px 28px;
		margin-top: 1px;
	}

	#force-100{
		flex: 0 0 100%;
		max-width: 100%;
	}

	#parallax1{
		padding-bottom: 0px;
	}

	#headerCube{
		width: 100%;
		margin-top: 140px;
		float: right;
	}

	.header1{
		font-size:24px;
		height :7.5vw;
		margin-bottom: 7vw;
		margin-top: 0px;
		font-size: 7.2vw;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
	}

	.header2{
		font-size:3.5vw;
		height : auto;
		margin-bottom: 3vw;
	}

	.header3{
		display:none;
	}

	.header3m{
		height: 36px;
		opacity: 0.5;
		font-size: 2vw;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-transform: uppercase;
		display: block;
	}

	.change-text{
		width: 28vw !important;
	}

	.partner-rsk-header0 {
		display: none;
	}
	
	.partner-rsk-header {
		display: inline-block;
	}

	.header-partner {
		height: 36px;
		padding: 0 30px;
	}

	.partner-div {
		display: inline-block;
		/* width: calc(100%/8); */
		text-align: center;
		float: left;
	}
	
	.kyc-btn-new {
		background-image: none;
		background-color: #f5a623;
		padding-left: 0;
		width: 180px;
		text-align: center;
	}

	.header-section-2 {
		padding: 0 15px;
	}

	.kyc-status {
		font-size: 13px;
		margin-top: 2px;
		
	}
	.kyc-status-box {
		margin-top: 8px;
	}
}

@media (max-height: 660px) and (orientation: landscape) { 
	#parallax1 {
		height: 60vh;
		margin-bottom: 0;
		margin-top: 20vh;
	}
	
	.header-partner-wrapper {
		position: relative;
		margin-bottom: 300px;
	}
}

@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) { 
	#parallax1 {
		height: 60vh;
		margin-bottom: 0;
		margin-top: 20vh;
	}
	
	.header-partner-wrapper {
		position: relative;
		margin-bottom: 300px;
	}
} 

@media (max-width: 450px) {


	.kyc-status {
		font-size: 10px;
		width: 54px;
	}

	.kyc-status-box {
		width: 7px;
		height: 7px;
		margin-top: 7px;
	}
	
	.press-div-right {
		width: auto;
		margin-left: 1px;
	}

	.vertical-center-partner {
		margin-top: 12px;
	}

	.press-div-left {
		margin-right: 3px;
	}

	.press-text {
		margin-top: 6px;
	}

	.header-ico-pic {
		height: 9px;
	}

	.border-right-mobile {
		position: initial;
	}

	.header-max-width {
		padding: 0 35px;
	}

	.header-space-between {
		padding: 0 35px;
	}

	.kip-main {
		font-size: 19px;
	}

	.kip-main .vertical-center-partner {
		padding-left: 0;
	}

	.kip-sub {
		font-size: 10px;
	}

	.kip-sub .vertical-center-partner {
		font-size: 10px;
		padding-left: 0;
	}

	.partner-mobile-wrapper {
		height: 54px;
		padding: 0 0 0 46px;
	}

	.mobile-6 {
		line-height: 54px;
	}

	#parallax1 {
		height: 100vh;
	}

	.main-header-m {
		font-size: 28px;
	}


	.telegram-btn {
		width: 118px;
		height: 30px;
		border-radius: 15px;
		font-size: 12px;
		background-position-x: 8px;
		padding-left: 20px;
	}
	
	.kakao-talk-btn-wrapper {
		width: 118px;
		height: 30px;
		font-size: 10px;
		line-height: 30px;
		letter-spacing: -0.4px;
	}

	.kakaobtn-img {
		width: 17px;
		position: relative;
		top: -2px;
	}

	.kyc-btn-new {
		padding-left: 0px;
	}

	.question-btn {
		width: 14px;
	}

	.vertical-center-header {
		padding: 0 15px;
		height: 50%;
	}

	/* .header-padding-bottom {
		padding-bottom: 200px;
	} */

	.header-press-pic {
		height: 10px;
	}

	.header-press {
		height: 48px;
		padding: 2px 0;
	}

	/* .header-partner-pic {
		height: 34px;
		margin: 0 1px;
	} */

	.header-partner {
		height: 36px;
		padding: 2px 0;
	}

	.header-rsk-section {
		margin-right: 23px;
	}
	
	.header-advisor-name {
		font-size: 12px;
	}

	.header-rsk-image {
		top: 3px;
	}

	.header-rsk-image img {
		width: 72px;
	}

	.header-rsk-wrapper {
		margin-top: 7vh;
	}

	.header-section-2 {
		margin-top: 27px;
		margin-bottom: 30px;
		padding: 0;
	}

	#parallax1{
		padding-bottom: 0px;
		margin-bottom: 100px;
	}

	#parallax1 .content{
		margin-top: 0px;
	}

	#headerCube{
		width: 250px;
		margin-top: 70px;
		float: right;
	}

	.header1{
		font-size:24px;
		height :34px;
		margin-bottom: 18px;
		font-size: 25px;
		font-weight: 900;
		color: #ffffff;
	}

	.header2{
		font-size:14px;
		height :auto;
		margin-bottom: 12px;
	}

	.header3{
		font-size:14px;
		height :41px;
		display:none;
	}

	.header3m{
		height: 18px;
		opacity: 0.5;
		font-size: 10px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-transform: uppercase;
		display: block;
	}

	.change-text{
		width: 28vw !important;
	}

	.header-rsk-text {
		font-size: 12.3px;
		/* margin-top: 40px; */
	}

	.header-rsk-logo {
		width: 54px;
		top: -8px;
	}

	.subscribe-input {
		background-size: 20px;
		background-position-x: 18px;
		padding-left: 10px;
		padding-left: 13px;
		font-size: 12px;
	}

	.subscribe-input:focus {
		padding-left: 45px;
	}

	.subscribe-input-wrapper {
		width: 260px;
		height: 34px;
	}

	.subscribe-btn {
		width: 90px;
		font-size: 10px;
		padding-right: 3px;
		padding-left: 20px;
		background-position-x: 12px;
    	background-position-y: 9px;
	}

	.subscribe-btn-border {
		height: 20px;
		line-height: 20px;
		border-left: 1px solid white;
	}

	.header-advisor {
		margin-top: 16px;
	}
	.whitelist-bg {
		height: 108px;
	}

	.whitelist-wrapper {
		height: 88px;
		padding: 13px;
	}
	.kyc-title {
		font-size: 14px;
		height: 30px;
	}

	.kyc-btn {
		width: 106px;
		height: 30px;
		font-size: 11px;
		
	}

	.kyc-join-text {
		font-size: 11px;
		bottom: 23px;
	}

	.question-icon {
		width: 11px;
		margin-right: 4px;
	}

	.subsciption_alert_wrapper {
		margin-left: 20px;
		margin-top: 7px;
	}

	.subsciption_warning { 
		font-size: 13px;
	}

	.subsciption_alert_text {
		font-size: 13px;
	}

	.subsciption_warning img {
		width: 12px;
	}
}

@media (max-width: 340px) {
	.main-header-m {
		font-size: 25px;
	}
}