#parallax0 {
    color: #fff;
    padding-top: 60px;
    position: relative;
    height: 100vh;
    margin-bottom: 300px;
}

.crowd-header {
    position: relative;
    display: block;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.44) 69%, rgba(0, 0, 0, 0.27) 84%, rgba(0, 0, 0, 0.06) 90%, rgba(0, 0, 0, 0));
}

.odometer {
    font-family: Avenir;
    font-size: 100px;
}

.odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 1s !important;
    -moz-transition-duration: 1s !important;
    -ms-transition-duration: 1s !important;
    -o-transition-duration: 1s !important;
    transition-duration: 1s !important
}

.odometer .odometer-inside:before {
    content: "<span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span>";
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 700px;
    height: 20px;
}

.raised {
    /* position: relative; */
    text-align: right;
}

.raised_text {
    top: -5px;
    left: -5px;
    position: relative;
    font-size: 16px;
    display: contents;
}

.hardcap_text_wrapper {
    text-align: right;
    margin-top: 10px;
}

.hardcap_text {
    font-size: 12px;
    color: #fff;
}

.hardcap_price {
    font-size: 16px;
    color: #00fff7;
}

.raised_number {
    font-size: 30px;
    color: aqua;
    display: inline-block;
    letter-spacing: -1px;
}

.raised_m {
    font-size: 24px;
}

.main-sale-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.width-45 {
    width: 45%;
}

.width-50 {
    width: 50%;
}

.width-55 {
    width: 55%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.dashobard-text { 
    width: 100%;
    word-wrap: break-word;
}

.dashobard-value {
    float: right;
}

.countdown-raised-wrapper {
    width: 908px;
    margin: 10px auto 0 auto;
    padding-right: 40px;
}

.progress-raised-wrapper {
    width: 868px;
    margin: 10px auto 0 auto;
    /* padding-right: 40px; */
    position: relative;
}

.countdown-wrapper {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;
}

.crowdsale-bottom-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 0;
}

.crowdsale-item-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 0;
}

.crowdsale-bottom-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 0;
}

.crowd-telegram-icon {
    position: relative;
    left: -5px;
    bottom: 2px;
}

.question-img {
    width: 17px;
    position: absolute;
    bottom: 0;
}

.days-text {
    font-size: 40px;
    font-family: Grotesque Condense;
    letter-spacing: 5px;
    padding-left: 20px;
}

.countdown-text {
    font-size: 16px;
    font-family: Grotesque Condense;
    letter-spacing: 2px;
}

.text-align-right {
    text-align: right;
}

.crowdsale-logo-wrapper {
    max-width: 1650px;
    margin: 0 auto;
    height: 100%;
}

.just-flex {
    display: flex;
}

.flex-baseline {
    display: flex;
    align-items: baseline;
}

.seperate-time {
    font-size: 100px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.crowdsale-telegram-btn {
    width: 190px;
    height: 44px;
    border: none;
    padding: 3px;
    border-radius: 22px;
    background-image: linear-gradient(329deg, rgb(58, 255, 249, 0.4), rgb(190, 238, 255, 0.4));
    /* background-image: linear-gradient(329deg, #3afff9, #beeeff); */
    margin-left: 16px;
    cursor: pointer;
}

.crowdsale-telegram-inside {
    height: 100%;
    line-height: 38px;
    background-color: #01225c;
    border-radius: 22px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.crowdsale-telegram-inside.kakao-btn {
    text-align: left;
    font-size: 12px;
    padding-left: 17px;
}

.crowdsale-telegram-inside:active {
    background-color: #16213B;
}

.kakao-btn-text {
    float: left;
}

.crowdsale-kakao-btn-a {
    padding: 0 2.5%;
    text-decoration: none;
}

.crowdsale-kakao-btn-a-left {
    padding-left: 0;
}

.crowdsale-kakao-btn-border {
    border-right: 1px solid #fff;
}

.crowdsale-kakaobtn-img {
    width: 30px;
    position: relative;
    top: -2px;
}

.progress {
    height: 16px;
    border-radius: 8px;
    background-color: rgba(75, 87, 104, 0.5);
    box-shadow: inset 0 0 10px 0 rgba(10, 25, 38, 0.5);
}

.progress-bar {
    max-width: calc(100% - 8px);
    height: 10px;
    margin: 3px 4px;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 #07f8f2;
    background-color: #00fff7;
    position: absolute;
}

.crowdsale-title {
    height: 30px;
    font-size: 26px;
    font-weight: 900;
    color: #00fff7;
}

.crowdsale-bonus {
    height: 48px;
    font-size: 38px;
    font-weight: 900;
}

.crowdsale-title-btn {
    max-width: 300px;
    width: 45%;
    height: 54px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 8, 81, 0.5);
    background-image: url(../img/crowdsale/join-sale-btn.png);
    background-size: 100% 100%;
    color: #082168;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    border: transparent;
    margin-right: 13px;
    padding: 0;
    float: left;
    cursor: pointer;
}

/* .crowdsale-title-btn:hover {
    background-color: #00fff7;
    background-image: none;
}

.crowdsale-title-btn:active {
    background-color: #d8fffe;
    background-image: none;
} */

.color-orange {
    background-image: url(../img/crowdsale/kyc-btn.png);
    background-size: 100% 100%;
    margin-right: 8px;
}

/* .color-orange:hover {
    background-color: #fbc33f;
    background-image: none;
}

.color-orange:active {
    background-color: #fffad8;
    background-image: none;
} */

.crowdsale-title-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 20px 0;
}

.crowdsale-vertical-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc( 100vh - 184px);
}

.crowdsale-vertical {
    position: relative;
    top: 23px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    margin: auto;
    padding: 0px 70px;
}

.crowdsale-background {
    position: absolute;
    top: 90px;
    width: 100vw;
    max-width: 1650px;
}

/* .odometer-digit {
    font-family: Avenir;
    font-size: 100px;
} */

/* .odometer.odometer-auto-theme {
    line-height: 80px !important;
} */

.crowdsale-input-wrapper {
    position: relative;
    z-index: 400;
    border-radius: 22px;
    max-width: 370px;
    height: 44px;
    font-size: 12px;
    float: left;
}

.crowdsale-input {
    border-radius: 22px;
    background-color: transparent;
    /* border-bottom: 4px solid #1222c6;  */
    border: none;
    background-color: white;
    background-position-y: center;
    background-position-x: 30px;
    color: #989da2;
    padding-left: 32px;
    font-size: 14px;
}

.crowdsale-input:focus {
    outline: none;
}

.crowdsale-btn-wrapper {
    background-color: #fff;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border: none;
    padding: 3px;
    color: #fcd055;
}

.crowdsale-inside-btn {
    width: 135px;
    height: 38px;
    line-height: 39px;
    border-radius: 22px;
    border: none;
    color: #fcd055;
    background-color: #01225c;
    background-image: url(../img/crowdsale/email-icon.png);
    background-repeat: no-repeat;
    background-size: 14px 11px;
    background-position-x: 26px;
    background-position-y: 14px;
    padding-left: 23px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.crowdsale-inside-btn:hover {
    background-color: #031a45;
}

.crowd-section-2 {
    max-width: 1650px;
    padding: 0 70px;
    margin: 0 auto 70px auto;
}

.whitepaper-wrapper {
    opacity: 0.95;
    color: #fff;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 16px;
}

.whitepaper-select {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 56px;
    text-align: center;
    background-color: rgba(150, 220, 255, 0.1);
    font-size: 13px;
    padding: 7px 0;
}

.whitepaper-select a {
    color: white;
    opacity: 0.6;
}

.whitepaper-select-item {
    line-height: 27px;
    color: rgb(255, 255, 255, 0.6);
    text-decoration: none;
}

.whitepaper-select-item:active {
    color: rgb(255, 255, 255);
}

.crowd-space-between {
    max-width: 1650px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    margin: 0 auto;
}

.crowd-space-between-sub {
    max-width: 1650px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.crowd-space-between-right {
    padding-left: 50px;
    padding-right: 70px;
}

.crowdsale-bottom-img {
    width: 100vw;
    height: 275px;
    position: relative;
    bottom: -160px;
}

.up-path-wrapper {
    width: 20px;
    height: 20px;
    background-color: rgba(176, 226, 255, 0.2);
    display: inline-block;
    text-align: center;
}

.up-path-wrapper img {
    margin-bottom: 5px;
}

.crowdsale-header-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.crowdsale-header-btn {
    align-self: flex-end;
}

.whitepaper-web-wrapper {
    display: block;
}

.whitepaper-mobile-wrapper {
    display: none;
}

.crowd-partner-pic {
    max-height: 90px;
    height: 6vw;
    cursor: pointer;
}

.crowdsale-kyc-status {
    width: 40%;
    font-size: 15px;
    color: #9b5b00;
    /* padding-left: 22px;
    padding-right: 13px; */
    line-height: 30px;
    float: right;
    display: none;
}

.crowdsale-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #0a2e6e;
    float: right;
    margin-top: 11px;
    display: none;
}

.crowdsale_subsciption_alert_wrapper {
    position: absolute;
    top: -35px;
    font-size: 16px;
    font-weight: 900;
    color: #ff6b47;
}

.crowdsale_subsciption_warning {
    display: inline;
}

.crowdsale_subsciption_alert_text {
    display: inline;
    position: relative;
    top: 2px;
}

.countdown-finish {
    height: 158px;
    line-height: 158px;
    text-align: center;
    font-size: 50px;
    display: none;
}
    
.crowdsale-logo-wrapper .col-lg-6 {
    padding-right: 0;
    padding-left: 0;
}

@media (max-height: 730px) {
    #parallax0 {
        height: 80vh;
    }
    .crowdsale-vertical {
        height: 65%;
    }
    .crowdsale-bottom-wrapper {
        position: relative;
    }
}

/* if height more than 1080 px
 */

@media (min-height: 1080px) {
    .crowdsale-title-wrapper {
        padding: 5vh 0;
    }
    .progress-raised-wrapper {
        margin: 5vh auto 0 auto;
    }
    .crowdsale-vertical {
        height: 55%;
    }
    .crowdsale-background {
        top: 20vh;
    }
}

@media (max-width: 1024px) and (max-height: 1024px) {
    #parallax0 {
        height: 80vh;
    }
    .crowdsale-vertical {
        height: 65%;
    }
    .crowdsale-bottom-wrapper {
        position: relative;
    }
}

@media (max-width: 1024px) and (max-height: 1024px) and (orientation :landscape) {
    #parallax0 {
        height: 100vh;
    }
}

@media (max-width: 1024px) {
    .countdown-finish {
        height: 150px;
        line-height: 150px;
    }

    .crowdsale-header-wrapper .col-lg-7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .crowdsale-header-wrapper .col-lg-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .crowdsale-header-wrapper .col-lg-5 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .crowd-section-2 .col-lg-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .crowd-section-2 .col-lg-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #parallax0 {
        height: 100vh;
    }
    .crowdsale-bottom-wrapper {
        position: absolute;
    }
    .crowd-partner-pic {
        height: 65px;
    }
    .odometer {
        font-size: 86px;
    }
    .crowdsale-title-btn {
        margin-right: 12px;
    }
    .color-orange {
        margin-right: 5px;
    }
    .crowdsale-header-btn {
        margin-top: 34px;
    }
    .countdown-raised-wrapper {
        width: 100%;
        padding-right: 0;
    }
    .progress-raised-wrapper {
        width: 100%;
        padding-right: 0;
    }
    .whitepaper-web-wrapper {
        display: none;
    }
    .whitepaper-mobile-wrapper {
        display: block;
        text-align: left;
        margin-top: 35px;
    }
    .whitepaper-mobile-text {
        color: white;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .whitepaper-select-item {
        /* width: 50px;
        height: 40px;
        border-radius: 20px;
        background-color: rgba(150, 220, 255, 0.1); */
        font-size: 15px;
        color: white;
    }
    .whitepaper-select-item-wrapper {
        width: 50px;
        height: 40px;
        border-radius: 20px;
        background-color: rgba(150, 220, 255, 0.1);
        display: inline-block;
        text-align: center;
        line-height: 40px;
    }
    .crowdsale-vertical {
        height: 85%;
    }
    .crowd-section-2 {
        padding: 0 60px;
        margin: 0 auto 95px auto;
    }
    .countdown-raised-wrapper {
        margin: 30px auto 0 auto;
    }
    .progress-raised-wrapper {
        margin: 20px auto 0 auto;
    }
    .crowdsale-background {
        top: 325px;
        width: 102vw;
    }
    .crowdsale-bottom-img {
        bottom: -75px;
    }
    .crowd-space-between {
        padding: 0 70px;
    }
    /* .crowdsale-logo-wrapper {
        height: 140px;
    } */
    .whitepaper-mobile-margin {
        margin-left: 20px;
    }
}

/* @media (max-width: 1024px) and (max-height : 1024px ){
	#parallax0 {
		height: 80vh;
	}
    
    .crowdsale-vertical {
        height: 65%;
    }

    .crowdsale-bottom-wrapper {
		position: relative;
		
    }
} */

@media (max-width: 768px) {

    .countdown-finish {
        height: 84.27px;
        line-height: 84.27px;
    }
    
    .crowdsale-telegram-inside.kakao-btn {
        font-size: 10px;
        padding-left: 6px;
    }
    .crowdsale-kakaobtn-img {
        width: 20px;
        top: -1px;
    }
    .crowdsale-kyc-status {
        line-height: inherit;
    }
    .crowdsale-title-wrapper {
        padding: 0 0 70px 0;
    }
    #parallax0 {
        height: 100vh;
    }
    .crowdsale-bottom-wrapper {
        position: absolute;
    }
    .crowd-partner-pic {
        height: 65px;
    }
    .whitepaper-mobile-wrapper {
        margin-top: 18px;
    }
    .progress {
        height: 10px;
        border-radius: 4.8px;
    }
    .progress-bar {
        height: 6px;
        margin: 2px;
    }
    .crowdsale-vertical {
        padding: 0 30px;
    }
    .crowdsale-title {
        font-size: 15.6px;
        height: 19px;
    }
    .crowdsale-bonus {
        font-size: 25.2px;
    }
    .crowdsale-title-btn {
        max-width: 180px;
        height: 40.5px;
        font-size: 16.5px;
        margin-right: 9px;
    }
    .color-orange {
        margin-right: 5px;
    }
    .crowdsale-header-btn {
        margin-top: 0;
    }
    .odometer {
        font-size: 52px;
    }
    .seperate-time {
        font-size: 26px;
        padding-top: 10px;
    }
    .days-text {
        font-size: 24px;
    }
    .countdown-text {
        font-size: 10px;
    }
    .countdown-raised-wrapper {
        margin: 10px auto 0 auto;
        padding: 0 15px;
    }
    .progress-raised-wrapper {
        width: 95%;
        margin: 40px auto 0 0;
        padding: 0;
    }
    .raised_text {
        font-size: 10px;
    }
    .raised_number {
        font-size: 16px;
    }
    .raised_m {
        font-size: 12px;
    }
    .crowdsale-bottom-img {
        bottom: -110px;
    }
    /* .crowdsale-logo-wrapper {
        height: 105px;
    } */
    .crowd-space-between {
        padding: 0 30px;
    }
    .crowd-section-2 {
        padding: 0 30px;
        margin: 0 auto 70px auto;
    }
    .whitepaper-select-item-wrapper {
        width: 50px;
        height: 40px;
        border-radius: 20px;
        line-height: 40px;
    }
    .whitepaper-mobile-text {
        font-size: 12px;
    }
    .whitepaper-select-item {
        font-size: 13px;
    }
    .crowdsale-telegram-btn {
        width: 129px;
        height: 35px;
        border-radius: 17.6px;
        margin-left: 11px;
    }
    .crowdsale-telegram-inside {
        font-size: 10px;
        line-height: 29px;
    }
    .crowdsale-input-wrapper {
        height: 35px;
        font-size: 10px;
        width: calc( 100% - 150px);
    }
    .crowdsale-input {
        padding-left: 16px;
        font-size: 10px;
    }
    .crowdsale-inside-btn {
        width: 37px;
        height: 30px;
        background-position-x: 12px;
        background-position-y: 9px;
    }
    .countdown-wrapper {
        width: 95%;
    }
    .crowdsale-vertical {
        height: 65%;
    }
    .crowdsale-background {
        top: 280px;
    }
}

@media (max-width: 450px) {
    .countdown-finish {
        height: 49px;
        line-height: 49px;
        font-size: 24px;
    }

    .crowdsale-telegram-inside.kakao-btn {
        padding-left: 3px;
    }

    .kakao-btn-text {
        display: none;
    }
    
    .crowdsale-kyc-status {
        font-size: 12px;
    }
    .crowd-telegram-icon {
        left: -1px;
        bottom: 1px;
    }
    #parallax0 {
        height: 100vh;
        margin-bottom: 150px;
    }
    .crowdsale-bottom-wrapper {
        position: absolute;
    }
    .crowd-partner-pic {
        height: 35px;
        margin-top: 6px;
    }
    .whitepaper-mobile-wrapper {
        margin-top: 18px;
    }
    .progress {
        height: 10px;
    }
    .progress-bar {
        height: 6px;
        margin: 2px;
    }
    .crowdsale-vertical {
        padding: 0 30px;
    }
    .crowdsale-title {
        font-size: 14px;
        height: 20px;
    }
    .crowdsale-bonus {
        font-size: 22px;
        height: 32px;
    }
    .crowdsale-title-btn {
        height: 32.4px;
        font-size: 13.2px;
        margin-right: 6px;
    }
    .crowdsale-header-btn {
        margin-top: 0;
    }
    .odometer-digit {
        font-family: Avenir;
        font-size: 26px;
    }
    .odometer {
        font-size: 26px;
    }
    .seperate-time {
        font-size: 26px;
        padding-top: 10px;
        margin: 0 10px;
    }
    .days-text {
        font-size: 12px;
        letter-spacing: 2px;
        padding-left: 5px;
    }
    .countdown-text {
        font-size: 10px;
        /* letter-spacing: 0; */
    }
    .countdown-raised-wrapper {
        margin: 10px auto 0 auto;
        padding: 0 15px;
    }
    .progress-raised-wrapper {
        margin: 10px auto 0 0;
        padding: 0;
    }
    .raised_text {
        font-size: 10px;
    }
    .raised_number {
        font-size: 16px;
    }
    .crowdsale-bottom-img {
        bottom: -180px;
    }
    /* .crowdsale-logo-wrapper {
        height: 65px;
    } */
    .crowd-space-between {
        padding: 0 30px;
    }
    .crowd-section-2 {
        padding: 0 30px;
        margin: 0 auto 30px auto;
    }
    .whitepaper-select-item-wrapper {
        width: 35px;
        height: 28px;
        border-radius: 14px;
        line-height: 28px;
    }
    .whitepaper-mobile-text {
        font-size: 10px;
    }
    .whitepaper-select-item {
        font-size: 10.5px;
    }
    .crowdsale-telegram-btn {
        width: 90px;
        height: 35px;
        border-radius: 17.6px;
        margin-left: 11px;
    }
    .crowdsale-telegram-inside {
        font-size: 10px;
        line-height: 29px;
    }
    .crowdsale-input-wrapper {
        height: 35px;
        font-size: 10px;
        width: calc( 100% - 101px);
    }
    .crowdsale-input {
        padding-left: 16px;
        font-size: 10px;
    }
    .crowdsale-inside-btn {
        width: 37px;
        height: 30px;
        background-position-x: 12px;
        background-position-y: 9px;
    }
    .countdown-wrapper {
        width: 95%;
    }
    .crowdsale-vertical {
        height: 55%;
    }
    @media (max-width: 340px) {
        .crowdsale-vertical {
            height: 85%;
        }
    }
    .crowdsale-background {
        top: 180px;
    }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .crowdsale-title-wrapper {
        padding: 0 0 50px 0;
    }
    .progress-raised-wrapper {
        margin: 30px auto 0 0;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    #parallax0 {
        height: 700px;
    }
    .crowdsale-vertical {
        height: 65%;
    }
    .crowdsale-bottom-wrapper {
        position: relative;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    #parallax0 {
        height: 500px;
    }
}

@media (max-width: 768px) and (max-height: 815px) {
    #parallax0 {
        height: 500px;
    }
    .crowdsale-vertical {
        height: 70%;
        margin-top: 75px;
    }
    .crowdsale-bottom-wrapper {
        position: relative;
    }
}

/* @media (max-width: 450px) and (max-height: 815px) { */
@media (max-width: 450px) and (max-height: 815px) {
    #parallax0 {
        height: 100vh;
    }
    .crowdsale-vertical {
        height: 70%;
        margin-top: 85px;
    }
    .crowdsale-bottom-wrapper {
        position: absolute;
    }

}

@media (max-width: 450px) and (max-height: 650px) {
    #parallax0 {
        height: 100vh;
    }

    .crowdsale-vertical {
        height: 70%;
        margin-top: 65px;
    }

    .crowdsale-bottom-wrapper {
        position: absolute;
    }

    .crowdsale-title-wrapper {
        padding: 0;
    }
}

/* iphone5/se landscape */

@media (max-height: 320px) and (orientation: landscape) {
    #parallax0 {
        height: 120vh;
    }
    .crowdsale-vertical {
        height: 65%;
    }
    .crowdsale-bottom-wrapper {
        position: relative;
    }
}